body {
  margin: 0;
  padding: 0;
  background: #f3f0f0;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.box-login {
  flex-shrink: 0;
  background: #fff;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

.form-groupe {
  position: relative;
}

label {
  margin: 5px 23px;
  font-size: 20px;
  padding: 10px 0 5px 0;
  display: block;
  position: relative;
}

 input {
  display: block;
  margin: 10px 20px 20px 20px;
  background: rgb(2, 2, 2);
  border-radius: 3px; 
} 

button {
  display: block;
  margin: 30px auto;
  outline: 0;
  background: rgb(250, 165, 9);
  width: 90%;
  border: 0;
  padding: 15px;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background: rgb(252, 181, 49);
}
button:active {
  background: rgb(250, 165, 9);
}
select {
    display: block;
    margin: 10px 20px 20px 20px;
    background: rgb(226, 226, 226);
    width: 400px;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 22px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
